%h2 Peliculas
%p Listado de Peliculas

- if flash[:notice].present?
  .notice= flash[:notice]

- if @movies.any?
  %table{border: "1"}
    %tr
      %th Id
      %th Titulo
      %th Fecha de Salida
    = render @movies
- else
  %em No hay ninguna pelicula agregada

%br

= link_to "Nueva Pelicula", new_movie_path